@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    // ViewBag.Title = "Index Page";
}
<h1>Hello</h1>
<a asp-action="new">New</a>
<table>
    <tr>
        <th>FullName</th>
        <th>Email</th>
    </tr>
@foreach (var person in Model)
{
    <tr>
        <td>
            <a asp-action="edit" asp-route-id="@person.Id">@person.FullName</a>
        </td>
        <td>@person.Email</td>
    </tr>
}
</table>